.categary {
    height: 100%;
    overflow: scroll;
    .d-none {
        display: none!important;
    }
    &__wrap {
        position: fixed;
        right: 50px;
        top: 200px;
        width: 200px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        &-item {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 10px;
            background: #efefef;
            font-size: 12px;
            color: #666;
            cursor: pointer;
            margin-bottom: 10px;
        }
    }
    &__list {
        margin: 30px 300px 30px 30px;
        // margin-right: 300px;
        section {
            margin-bottom: 50px;
        }
        &-seperator {
            color: #6ca3d6;
            font-size: 26px;
        }
        hr {
            margin-top: 20px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #eee;
        }
    }
}